body{
    background-image: url(1382576.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table{
    background: black;
    margin-left: 6px;
    font-size: 230%;
    font-weight: bolder;
    padding: 4px;
    color: rgb(37, 37, 37);
    font-family: "cute font";
}
th{
    background: linear-gradient(rgb(184, 184, 184),rgb(95, 94, 94));
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}
#button{
    width: 60px;
    height: 60px;
    background-image: url(TierListBox.png);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    top: 0px;
    left: 10px;
}
#button:hover{
    background-image: url(TierListBoxALT.png);
    background-repeat: no-repeat;
    
    background-size: cover;
    
    border-image: 1px;
}
img{
    width: 48px;
    height: 48px;
    position: relative;
    top: 0px;
    left: -2px;
}
#xerokin{
    position:absolute; left:750px; top:100px;
    font-family: "Press Start 2P";
    width:200px; height:50px;
    background-image: url(TierListSmallBox.png);
    background-repeat: no-repeat;
    font-size: small;
    color:yellow;
    background-size: cover;
}
#yobrosciencepro{
    position:absolute; left:750px; top:160px;
    font-family: "Press Start 2P";
    width:200px; height:50px;
    background-image: url(TierListSmallBox.png);
    background-repeat: no-repeat;
    
    background-size: cover;
    font-size: small;

}
#noko_flowerout{
    position:absolute; left:750px; top:220px;
    font-family: "Press Start 2P";
    width:200px; height:50px;
    background-image: url(TierListSmallBox.png);
    background-repeat: no-repeat;
    font-size: small;
    
    background-size: cover;
}
#credits{
    font-family: "Press Start 2P";
}
